@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat|PT+Serif);

.container {
    position:relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ===== header ===== */
header {
    width: 100%;
    font-family: 'Montserrat';
}

/* menu-bar */
.menu-bar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.menu-bar > .logo {
    font-size: 28px;
    font-weight: normal;
    color: navy;
}
.menu-bar > .menu-toggle-btn {
    height: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-toggle-btn > span {
    width: 20px;
    height: 2px;
    background-color: navy;
}

/* main-menu */
.main-menu {
    display: none;
}
.gnb {
    display: flex;
    flex-direction: column;
}
.gnb > li {
    padding: 10px 30px;
    border-bottom: 1px solid darkblue;
    background-color: rgb(46, 46, 151);
}
.gnb > li > a {
    font-size: 14px;
    color: white;
}

@media screen and (min-width:768px) {
    header > .container {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-bar > .menu-toggle-btn {
        display: none;
    }
    .main-menu {
        display: block;
    }
    .gnb {
        display: flex;
        flex-direction: row;
    }
    .gnb > li {
        padding-left: 5px;
        border: none;
        background-color: white;
    }
    .gnb > li:last-child {
        padding-right: 0;
    }

    .gnb > li > a {
        color: darkblue;
    }
}

/* ===== main ===== */
section .title {
    color: darkblue;
    font-family: 'Montserrat';
    font-weight: normal;
    text-align: center;
}
section h2 {
    /* margin-bottom: 30px; */
    font-size: 40px;
}

/* slide */
article.slide > h2 {
    font-size: 0;
}
article.slide > img {
    width: 100%;
}

/* desc */
.desc {
    padding: 50px 0;
    /* border-bottom: 1px solid #eee; */
}
.desc p {
    font-family: '바탕체';
    text-align: center;
}
.desc > .container > .desc-info > .text {
    margin: 30px 0;
}

.promo {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.promo > li {
    height: 20%;
}
.promo > li > img {
    height: 50px;
    margin: 30px auto;
}
.promo > li > .title {
    margin: 30px auto;
}
.promo > li > .txt {
    margin-bottom: 30px;
}

hr {
    height: 1px;
    margin: 20px;
    border: 0;
    background-color: #ccc;
}

/* work */
.work {
    padding: 50px 0;
}
.work .title {
    padding-bottom: 30px;
}
.work > .conbox > div {
    position: relative;
}
.work > .conbox > div > img {
    width: 100%;
}
.work > .conbox > div > .txt {
    display: none;
}
.work > .conbox > div:nth-child(5),
.work > .conbox > div:nth-child(6),
.work > .conbox > div:nth-child(7),
.work > .conbox > div:nth-child(8) {
    display: none;
}
.work > hr {
    width: 20px; height: 2px;
    margin: 150px auto 50px;
    border: 0;
    background-color: navy;
}

/* blog */
.blog {
    font-family: 'Montserrat';
}
.blog .title {
    padding: 30px;
}
.blog li {
    margin-bottom: 50px;
}
.blog img {
    width: 100%;
}
.blog .date {
    margin: 10px 0;
    font-size: 12px;
    color: #aaa;
}
.blog .txt {
    line-height: 1.2;
}

/* contact */
.contact > h2 {
    margin-bottom: 50px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea[id="message"]
{
    padding: 10px 0;
    font-family:'Montserrat';
    color: navy;
    }

.name,
.phone,
.mail,
.message {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid #aaa;
}
.submit {
    display: inline-block;
    float: right;
    padding: 15px;
    margin-bottom: 50px;
    border: 0;
    color: white;
    background-color: navy;
}

@media screen and (min-width:768px) {
    /* desc */
    .promo {
        margin: 80px 50px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .promo > li {
        width: 22%;
    }
    .promo > li > img {
        height: 60px;
        margin: 30px auto;
    }
    .promo > li > .title {
        margin: 30px auto;
    }
    .promo > li > .txt {
        margin-bottom: 30px;
        font-size: 14px;
    }

    hr {
        display: none;
    }

    /* work */
    .work > .conbox {
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .work > .conbox > div {
        position: relative;
        width: 50%;
    }
    .work > .conbox > div > img {
        width: 100%;
    }
    .work > .conbox > div:nth-child(5),
    .work > .conbox > div:nth-child(6),
    .work > .conbox > div:nth-child(7),
    .work > .conbox > div:nth-child(8) {
        display: block;
    }
    .work > .conbox > div > .txt {
        display: block;
        position: absolute;
        left: 0; top: 0; 
        width: 100%; height: 100%;
        padding: 30px;
        font-family: 'Montserrat';
        color: rgba(255, 255, 255, 0);
        background-color: rgba(0, 0, 128, 0);
    }

    .work > .conbox > div > .txt:hover {
        color: white;
        background-color: rgba(0, 0, 128, 0.685);
    }
    
    
    .work > hr {
        display: block;
        width: 20px;
        margin: 100px auto 50px;
        background-color: navy;
    }

    /* blog */

    .blog ul {
        display: flex;
        justify-content: space-between;
    }
    .blog li {
        width: 32%;
        margin-bottom: 100px;
    }
    .blog .txt {
        font-size: 14px;
    }

    /* contact */
    .contact form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    form > .info {
        width: 50%;
        padding: 10px;
    }
    form > .message-box {
        width: 50%;
        padding: 10px;
    }
    .submit {
        margin-right: 10px;
    }
}
@media screen and (min-width:1024px) {
    .desc {
        max-width: 1440px;
        margin: 0 auto;
    }
    .desc > .container > .desc-info {
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        margin: 50px 50px 0;
    }
    .desc > .container > .desc-info > .text {
        margin: 0;
        padding-left: 30px;
        border-left: 1px solid #ccc;
        text-align: left;
        line-height: 2.0;
    }
    .promo {
        margin-bottom: 50px;
    }
    .promo > li {
        width: 24%;
    }
    
    hr {
        display: block;
        width: 90%;
        margin: 0 auto 50px;
        background-color: #ccc;
    }

    /* work */
    .work h2 {
        margin-left: 70px;
        text-align: left;
    }
    .work > .conbox > div {
        width: 25%;
    }

    /* blog */
    .blog {
        display: none;
    }

    /* contact */
    .contact {
        max-width: 1380px;
        padding: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .contact > h2 {
        margin-right: 50px;
    }

}
/* ===== footer ===== */
footer p {
    padding: 30px;
    color: darkblue;
    font-family: 'Montserrat';
    text-align: center;
}